function Screen.init 0
push constant 0
pop static 0
push constant 0
return
function Screen.clearScreen 0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 2
push constant 16384
push argument 0
push constant 32
call Math.multiply 2
add
push argument 1
push constant 16
call Math.divide 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push local 0
push local 1
not
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 0
push constant 0
return
function Screen.drawRectangle 0
push constant 0
return
function Screen.drawCircle 0
push constant 0
return
